<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <div class="container-fluid px-sm-3 py-sm-5 px-md-5 p-3 pt-4">
      <div class="row">
        <div class="col-sm-auto sticky-top bg-white" style="height: min-content;">
          {% include navbar.html title=page.onepage-title description=page.onepage-description navstyle=page.navstyle %}
        </div>

        <div class="col pt-3 pt-sm-0">
          <div class="tab-content" id="tabContent">

            <div class="tab-pane fade show active" id="{{page.title | replace: " ","-" | downcase }}" role="tabpanel" aria-labelledby="{{page.title | replace: " ","-" | downcase }}-tab">
              <h1>{{page.title}} <small class="text-muted">{{page.description}}</small></h1><hr/>{{page.content | markdownify}}
            </div>
            {% for navpage in site.pages %}
              {% if navpage.title != page.title and navpage.onepage-id == page.onepage-id and navpage.hidden != true %}

                <div class="tab-pane fade" id="{{navpage.title | replace: " ","-" | downcase }}" role="tabpanel" aria-labelledby="{{navpage.title | replace: " ","-" | downcase }}-tab"><h1>{{navpage.title}} <small class="text-muted">{{navpage.description}}</small></h1><hr/>{{navpage.content | markdownify}}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
